<!DOCTYPE html>
<html>
<head>
<title>Template CV</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Joe Bloggs."/>
<meta charset="UTF-8"> 

<link type="text/css" rel="stylesheet" href="style.css">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="headshot.jpg" alt="Alan Smith" />
		</div>
		
		<div id="name">
			<h1 class="quickFade delayTwo">Bruno</h1>
			<h2 class="quickFade delayThree">Professor</h2>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li>e-mail: <a href="mailto:joe@bloggs.com" target="_blank">Bruno@gmail.com</a></li>
				<li>w: <a href="http://www.google.com">google.com</a></li>
				<li>Tel: 01234567890</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Dados Pessoais</h1>
				</div>
				
				<div class="sectionContent">
					<p>Bla bla bla</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>
		
		<section>
			<div class="sectionTitle">
				<h1>Educação</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Nome da instituição </h2>
					<p class="subDetails">Qualificação</p>
					<p>Bla bla </p>
				</article>
				
				<article>
					<h2>Nome da instituição </h2>
					<p class="subDetails">Qualificação</p>
					<p>Bla bla </p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		
		<section>
			<div class="sectionTitle">
				<h1>Experiência profissional </h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Nome da Empresa </h2>
					<p class="subDetails">Data início   -  Data fim</p>
					<p> bla bla bla</p>
				</article>
				
				<article>
					<h2>Nome da Empresa </h2>
					<p class="subDetails">Data início   -  Data fim</p>
					<p> bla bla bla</p>
				</article>
				
			<article>
					<h2>Nome da Empresa </h2>
					<p class="subDetails">Data início   -  Data fim</p>
					<p> bla bla bla</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Outros</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="keySkills">
					<li>Outro 1</li>
					<li>Outro 2</li>
					<li>Outro 3</li>
					<li>Outro 4</li>
					<li>Outro 5</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>
		
		
	
		
	</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>